<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="auth-side-col col-6">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <h1 class="auth-head">Reset Password</h1>
            <form style="width: 55%;" class="mb-5" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="form-floating mb-3">
                    <input type="email" formControlName="email" class="form-control" placeholder="abc@gmail.com">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" formControlName="password" placeholder="abc@gmail.com">
                    <label for="password">Password</label>
                        @if (resetForm.controls['password'].touched) {
                            <div class="text-danger fw-bolder fs-6">
                                @if(resetForm.controls['password'].errors?.['required']){
                                    <span>Password is required</span>
                                }
                                @if (resetForm.controls['password'].errors?.['pattern']) {
                                    <span>Password must be 8–16 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character (!&#64;#$&*).</span>
                                }
                            </div>   
                        }
                </div>
                <div class="text-center"><button class="btn btn-success fs-5">Reset</button></div>
            </form>
        </div>
    </div>
</div>
