<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="auth-side-col col-6">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <h1 class="auth-head">Register</h1>
            <p class="fs-3 mb-4">Welcome to WeConnect</p>
            <div style="width: 55%;" class="mb-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="09878">
                    <label for="otp">OTP</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" placeholder="abc@gmail.com">
                    <label for="password">New Password</label>
                </div>
                <div class="text-center"><button class="btn btn-success fs-5">Submit</button></div>
            </div>
            <button class="btn"><img src="https://img.icons8.com/?size=40&id=17949&format=png&color=000000" alt="">Sign Up with Google</button>

        </div>
    </div>
</div>
