<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="auth-side-col col-6">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <h1 class="auth-head">Forgot Password</h1>
            <form style="width: 55%;" class="mb-5" [formGroup]="verifyForm" (ngSubmit)="verifyOtp()">
                <div class="form-floating mb-3">
                    <input type="email" formControlName="email" class="form-control" placeholder="">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" formControlName="otp" class="form-control" placeholder="">
                    <label for="otp">OTP</label>
                </div>
                <div class="text-center"><button class="btn btn-success fs-5">Verify</button></div>
            </form>
        </div>
    </div>
</div>
